body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color:  #ececec;
    color: #333;

}

/*modo escuro*/
body.dark {
    background-color: #333;
    color: #fff;
}



h1 {
    text-align: center;
    font-size: 4vh;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 12vh);
    grid-template-rows: repeat(3, 12vh);
    grid-gap: 1vh;
    width: 40vh;
    height: 40vh;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    background-color: #ddd;
}

#board.dark {
    background-color: #555;
}

.cell {
    width: 12vh;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh; 
    background-color: #fff;
    border: 0.5vh solid #333;
    cursor: pointer;
    color: #333;
}

body.dark .cell {
    color: #131212;
}

.cell.dark {
    background-color: #555;
    color: #000000;
    border: 1px solid #fff;
}

.cell.disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
    pointer-events: none; /* impede a interação com a célula*/

}

#message {
    margin-top: 3vh;
    font-size: 2.5vh;
    text-align: center;

}

button {
    margin-top: 1.5vh;
    padding: 1.5vh;
    font-size: 3vh;
    cursor: pointer;
    background-color: #f8f8f8;
    color: #333;
    border-radius: 5px;

}

button.dark {
    background-color: #444;
    color: #fff;
    border: 1px solid #fff;
}

button.dark:hover {
    background-color: #555;
    color: #ddd;
}

#reiniciar {
    position: absolute;
    top: 2vh;
    right: 2vh;
    background-color: #f88323;
    border: 1px solid #333;
    border-radius: 5px;
}

#reiniciar.dark {
    background-color: #58a518;
    color: #fff;
    border: 1px solid #fff;
}

#reiniciar.dark.hover {
    background-color: #555;
    color: #ddd;
}



#game-options {
    display: flex;
    justify-content: space-between;
    width: 40vh;
    height: 15vh;
    margin-top: 2vh;
    gap: 2vh;
}